@using IMS.UseCases.Voucher.Interfaces
@using IMS.UseCases.Report.Interfaces
@if (customerList != null){
<div class="modal fade" id="AddReportModal" tabindex="-1" aria-labelledby="AddReportModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">


            <div class="modal-header">
                <h1 class="modal-title fs-5" id="AddReportModalTitle">Create Invoice Voucher</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body">
                <!-- Header row: Customer (left) / Date (right) -->
                <div class="row mb-4">
                    <div class="col-md-6">
                        <label for="customerSelect" class="form-label fw-bold">Customer Name</label>
                            <select id="customerSelect" class="form-select" value="@selectedCustomerId" disabled="@isDisabled" @onchange="OnCustomerChanged">
                            <option value="0">Select Customer</option>
                            @foreach (var customer in customerList)
                            {
                                <option value="@customer.CustomerId">@customer.CustomerName</option>
                            }
                        </select>
                    </div>


                    <div class="col-md-6 text-end">
                        <label for="invoiceDate" class="form-label fw-bold">Date</label>
                        <input type="date" id="invoiceDate" class="form-control" style="width: 200px; float: right;" @bind="invoiceDate" />
                    </div>
                </div>
                    @if (selectedCustomerId == 0)
                    {
                        <div class="alert alert-info text-center my-4">
                            Please choose a customer first.
                        </div>
                    }

                @if (selectedCustomerId != 0) { 

                <!-- Items Table -->
                <table class="table table-bordered align-middle text-center">
                    <thead class="table-light">
                        <tr>
                            <th style="width: 35%;">Item</th>
                            <th style="width: 15%;">Quantity</th>
                            <th style="width: 20%;">Sell Price</th>
                            <th style="width: 20%;">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in voucherList)
                        {
                            <tr>
                                <td class="text-start">@item.Inventory.InventoryName</td>


                                <td>
                                    <input type="number" class="form-control text-center"
                                           min="0"
                                           @bind="item.Quantity" />
                                </td>


                                <td>
                                    <input type="number" class="form-control text-center"
                                           step="0.01"
                                           min="0"
                                           @bind="item.SellPrice" />
                                </td>


                                <td>
                                            <input type="text" class="form-control text-center" value="@((item.SellPrice * item.Quantity).ToString("0.00"))" readonly />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


                <!-- Total Area -->
                <div class="row mt-4">
                    <div class="col-md-12 text-end">
                        <h5>Total Amount: <span class="fw-bold">@TotalAmount</span></h5>
                        <br />
                        <h5>Profit : <span class="fw-bold">@(TotalAmount - TotalCosts)</span></h5>
                    </div>
                </div>
                }

            </div>


            <div class="modal-footer">
                <button id="close-add-modal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @onclick="HandleSaveInvoiceAsync">Save Invoice</button>
            </div>


        </div>
    </div>
</div>
}
@code {
    [Inject] IJSRuntime JSRuntime { get; set; } = default!;
    [Parameter] public List<Customer>? customerList { get; set; }
    [Inject] public IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase { get; set; } = default!;
    [Inject] public ICreateReportUseCase CreateReportUseCase { get; set; } = default!;
    [Inject] public IAddVoucherUseCase addVoucherUseCase { get; set; } = default!;
    [Inject] public IUpdateVoucherUseCase updateVoucherUseCase { get; set; } = default!;
    [Inject] public IUpdateReportsUseCase updateReportsUseCase { get; set; } = default!;


    [Parameter]
    public EventCallback OpenToast { get; set; }

    [Parameter]
    public EventCallback OpenErrorToast { get; set; }

    [Parameter]
    public EventCallback OnReportAdded { get; set; }

    private int selectedCustomerId { get; set; } = 0;
    private DateTime invoiceDate { get; set; } = DateTime.Today.AddDays(1);
    private List<Inventory> inventories = new();
    private ICollection<CustomerPrice>? customerPrice;
    private ICollection<Vouchers> voucherList = new List<Vouchers>();
    private Dictionary<int, decimal> itemSellPriceMap = new();
    private int reportId;
    private bool isDisabled = false;
    private decimal TotalAmount =>
    voucherList.Sum(item => item.SellPrice * item.Quantity);
    private decimal TotalCosts =>
    voucherList.Sum(item => item.Inventory.Price * item.Quantity);
    private Reports report;

    private async Task OnCustomerChanged(ChangeEventArgs e)
    {
        isDisabled = !isDisabled;

        selectedCustomerId = int.Parse(e.Value.ToString());

        Customer? customer = customerList!.FirstOrDefault(c => c.CustomerId == selectedCustomerId);
        if(customer != null)
        {
            customerPrice = customer.CustomerPrices;
            inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync())
                          .Where(inv => customerPrice.Any(cp => cp.InventoryId == inv.InventoryId))
                          .ToList();

            itemSellPriceMap = customerPrice.ToDictionary(cp => cp.InventoryId, cp => cp.SellPrice);
            report = new Reports
                {
                    CustomerId = selectedCustomerId,
                    Customer = customer,
                    ReportDate = invoiceDate,
                    TotalAmount = 0,
                    Profit = 0
                };
            reportId = await CreateReportUseCase.ExecuteAsync(report);
            foreach (var (inventoryId, sellPrice) in itemSellPriceMap)
            {
                Inventory inventory = inventories.First(inv => inv.InventoryId == inventoryId);

                Vouchers voucher = new Vouchers(
                )
                {
                 SellPrice = sellPrice,
                 Quantity = 0,
                 InventoryId = inventoryId,
                 Inventory = inventory,
                 ReportId = reportId,
                 SubTotal = 0,
                };
                voucherList.Add(voucher);
                await addVoucherUseCase.ExecuteAsync(voucher);
            }
        }




    }
    private async Task HandleSaveInvoiceAsync()
    {
        if(TotalAmount == 0)
        {
            await JSRuntime.InvokeVoidAsync("alert", "Total amount cannot be zero. Please add items to the invoice.");
            return;
        }
        report.TotalAmount = TotalAmount;
        report.Profit = TotalAmount - TotalCosts;
        int res1 = await updateVoucherUseCase.ExecuteAsync();
        int res2 = await updateReportsUseCase.ExecuteAsync(report);
        if(res1 >= 0 && res2 >= 0)
        {
            Console.WriteLine(res1 + " " + res2 + " successful ");
            selectedCustomerId = 0;
            isDisabled = false;
            voucherList.Clear();
            await OpenToast.InvokeAsync();
            await OnReportAdded.InvokeAsync();
        } else
        {
            await OpenErrorToast.InvokeAsync();
        }
    }
}
